
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  color: black;
  animation-name: modalAnim;
  animation-duration: 0.3s; 
}

.modal button {
  background: transparent;
  border: none;
  top: 13%;
  left: 86%;
}

.modal .cancel-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  filter: invert(1);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-main {
  position: fixed;
  background: white;
  width: 70%;
  height: 75vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-main .modal-main-container {
  padding: 100px 70px 80px 70px;
}

.modal-main .skill {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.modal-main .skill .left {
  width: 45%;
}

.modal-main .skill .right {
  width: 55%;
  padding-left: 10%;
}

.title h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
}

.modal-main .skill .progress .progress-inner {
  width: 100%;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.modal-main .skill .progress .progress-inner span {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.modal-main .skill .progress .progress-inner .bar_background {
  background: rgba(0, 0, 0, 0.09);
  width: 100%;
  min-width: 100%;
  position: relative;
  height: 3px;
}

.modal-main .skill .progress .progress-inner .bar_background .bar {
  width: 100%;
  height: 100%;
}

.modal-main .skill .progress .progress-inner .bar_background .bar .bar-in {
  height: 100%;
  background: #000;
  width: 0%;
  overflow: hidden;
}

.modal-main .fun-fact {
  margin-top: 80px;
}

.modal-main .fun-fact .title {
  margin-bottom: 40px;
}

.modal-main .fun-fact .box-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.modal-main .fun-fact .box-container .box {
  border: 1px solid #ddd;
  width: 100%;
  padding: 40px 20px 40px 20px;
  margin: 0 10px 0 10px;
}

.modal-main .fun-fact .box-container .box p {
  color: #767676;
}

.modal-main .partners .partners-container {
  margin-top: 50px;
}

.modal-main .partners .partners-container .partner-box {
  background-color: #eee;
  margin: 0 10px 0 10px;
}

.modal-main .partners .partners-container .partner-box img {
  width: 100%;
  height: 90px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.modal-main .partners .partners-container .partner-box img:hover {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .modal-main {
    width: 90%;
  }

  .modal button {
    top: 4%;
    left: 92%;
  }
}

@media screen and (max-width: 1040px) {
  .modal-main {
    width: 95%;
  }

  .modal-main .modal-main-container {
    padding: 100px 20px 80px 20px;
  }

  .modal-main .skill {
    width: 100%;
    display: block;
  }

  .modal-main .skill .left {
    width: 100%;
    margin: 0 0 60px 0;
  }

  .modal-main .skill .right {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .modal-main {
    width: 70%;
  }

  .modal-main .modal-main-container {
    padding: 60px 20px 80px 20px;
  }

  .modal-main .fun-fact .box-container {
    display: block;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .modal-main .fun-fact .box-container .box {
    padding: 40px 20px 40px 20px;
    margin: 30px 0 30px 0;
  }

  .modal-main .partners .partners-container .partner-box {
    background-color: #eee;
    margin: 0 5px 0 5px;
  }

  .modal-main .partners .partners-container .partner-box img {
    height: 60px;
  }

  .modal button {
    top: 4%;
    left: 78%;
  }
}

@keyframes modalAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}