.portfolio-container {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 100px;
}

.portfolio-container .portfolio-title {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 62px;
  animation-name: animationFirstLoadX;
  animation-duration: 1s;
}

.portfolio-container .portfolio-title .title-flex {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.portfolio-container .portfolio-title .title-flex span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 4px 10px;
  display: inline-block;
  margin-bottom: 15px;
}

.portfolio-container .portfolio-title .title-flex h3 {
  font-size: 31px;
  font-weight: 900;
  color: black;
}

/* ======================================TAB LIST======================================== */

.portfolio-filter .react-tabs__tab-list {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  justify-content: flex-end;
  top: 55px;
  left: -50px;
  list-style-type: none;
  animation-name: animationFirstLoadX;
  animation-duration: 1s;
}

.portfolio-filter .react-tabs__tab-list li {
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.portfolio-filter .react-tabs__tab-list li:hover {
  letter-spacing: 2px;
  color: black;
}

/* =======================================TAB PANEL========================================== */

.portfolio-filter .react-tabs__tab-panel .portfolio-list {
  width: 96%;
  position: absolute;
  top: 150px;
  list-style-type: none;
  padding-bottom: 50px;
  margin: 0 0 0 -50px;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li {
  margin: 0 0 50px;
  float: left;
  height: 415px;
  width: 50%;
  padding-left: 50px;
  animation-name: animationFirstLoad;
  animation-duration: 1s;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li .inner {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  overflow: hidden;
  position: relative;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li .inner a {
  position: relative;
  overflow: hidden;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li .inner a:hover {
  text-decoration: none;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li .inner a img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  margin-right: 5%;
  margin-bottom: 40px;
  float: left;
  transition: all 0.2s linear;
}

.portfolio-filter .react-tabs__tab-panel .portfolio-list li .inner a img:hover {
  transform: scale(1.1);
}
